 body, head {
   background-color: #b09c94; 
}
.font {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.center {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 25px;
}