 body, head {
   background-color: #b09c94;
 /*  text-align: center;
   display: inline-block;*/

}
center {
  text-align: center;
  display: inline-block;
  padding-left: 300px;
  padding-top: 50px;
}
font {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 25px;
}